<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="360" alt="Logo Mercado Liebre">
        <p>Lugar para poner barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li>
                    <a href="#ofertas">Ofertas</a>
                </li>
                <li>
                    <a href="">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="">Vender</a>
                </li>
                <li>
                    <a href="">Ayuda</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">Crea tu cuenta</a>
                </li>
                <li>
                    <a href="">Ingresá</a>
                </li>
                <li>
                    <a href="">Mis compras</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="/images/img-home-banner.jpg" width="360" alt="Banner Home">
    </section>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet</p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="Cafetera Moulinex">
                <p>$150.970</p>
                <p>10% OFF</p>
                <h3>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h3>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="Cafetera Moulinex">
                <p>$54.230</p>
                <h3>Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.</h3>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Cafetera Moulinex">
                <p>$89.410</p>
                <p>20% OFF</p>
                <h3>Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</h3>
            </article>
        </section>
    
        <section>
            <h2 id="ofertas">Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet</p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="Cafetera Moulinex">
                <p>$150.970</p>
                <p>10% OFF</p>
                <h3>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h3>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="Cafetera Moulinex">
                <p>$54.230</p>
                <h3>Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.</h3>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Cafetera Moulinex">
                <p>$89.410</p>
                <p>20% OFF</p>
                <h3>Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</h3>
            </article>
        </section>

    </main>
    <footer>
        <article>
            <h4>Pagá con tarjeta o en efectivo </h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de                             
                pago. ¡Y siempre es seguro! 
            </p>
        </article>
         
        <article>
            <h4>Envío gratis desde $ 1.999</h4> 
            <p>
                Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de                         
                productos. Es un beneficio de Mercado Puntos. 
            </p> 
        </article>

        <article>
            <h4>Seguridad, de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,                           
                porque estás siempre protegido. 
            </p> 
        </article>
         
         
        <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>