<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Registro</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logo-mercado-liebre.svg" width="360" alt="Logo Mercado Liebre">
            <div class="buscador">
                <input type="text" placeholder="Buscar productos, marcas">
                <div><button name="button"><i class="fa-solid fa-magnifying-glass"></i></button></div>
            </div>
            <p class="slogan"><i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="ham-button">
            <a href="" class = "hamburguer-button">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li> <a href="#ofertas">Ofertas</a> </li>
                <li> <a href="">Tiendas Oficiales</a> </li>
                <li> <a href="">Vender</a> </li>
                <li> <a href="">Ayuda</a> </li>
            </ul>
            <ul class = "right-navbar"> 
                <li> <a href="/register">Crea tu cuenta</a> <i class="fa-solid fa-id-card"></i> </li>
                <li> <a href="/login">Ingresá</a> <i class="fa-solid fa-share-from-square"></i> </li>
                <li> <a href="">Mis compras</a> <i class="fa-solid fa-cart-shopping"></i> </li>
            </ul>
        </nav>
    </header>

    <main class="register-form">
        <form action="/create-user" method="POST">
            <div class="nombre-apellido">
                <label>Nombre y apellido</label>
                <input class="controller" type="text">
            </div>

            <div class="nombre-usuario">
                <label>Nombre de usuario</label>
                <input class="controller" type="text">
            </div>

            <div class="email">
                <label>E-mail</label>
                <input class="controller" type="email">
            </div>

            <div class="cumple">
                <h4>Fecha de nacimiento</h4>
                <input class="controller" type="date">
            </div>

            <div class="domicilio">
                <label>Domicilio</label>
                <input class="controller" type="text">
            </div>

            <div class="perfil-usuario">
                <h4>Perfil del usuario</h4>
                <label>Comprador</label>
                <input type="radio" name="comprador" value="comprador">

                <label>Vendedor</label>
                <input type="radio" name="comprador" value="vendedor">
            </div>

            <div class="intereses">
                <h4>Intereses</h4>
                <div class="electro">
                    <label>Electro</label>
                    <input type="checkbox" name="intereses" value="electro">
                </div>

                <div class="moda">
                    <label>Moda</label>
                    <input type="checkbox" name="intereses" value="moda">
                </div>

                <div class="hogar">
                    <label>Hogar</label>
                    <input type="checkbox" name="intereses" value="hogar">
                </div>

                <div class="jugueteria">
                    <label>Jugueteria</label>
                    <input type="checkbox" name="intereses" value="jugueteria">
                </div>

                <div class="vida-salud">
                    <label>Vida y Salud</label>
                    <input type="checkbox" name="intereses" value="vida-sana">
                </div>
            </div>
            <div class="register-form-buttons">
                <button type="reset">Borrar</button>
                <button type="submit">Guardar</button>
            </div>
        </form>
    </main>


    <footer>
        <article class = "informacion">
            <h4>Pagá con tarjeta o en efectivo </h4>
            <div class="info-icon">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de                             
                pago. ¡Y siempre es seguro! 
            </p>
        </article>
         
        <article class = "informacion">
            <h4>Envío gratis desde $ 1.999</h4> 
            <div class="info-icon">
                <i class="fa-solid fa-gift"></i>
            </div>
            <p>
                Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de                         
                productos. Es un beneficio de Mercado Puntos. 
            </p> 
        </article>

        <article class = "informacion">
            <h4>Seguridad, de principio a fin</h4>
            <div class="info-icon">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,                           
                porque estás siempre protegido. 
            </p> 
        </article>
         
         
        <p class = "derechos">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>